.header-mega-menu {
  z-index: 600;
  width: 100%;

  &.nav-lg {
    padding: 2rem 1rem;

    nav ul li a {
      font-size: 15px;
    }
  }

  &.nav-fix {
    position: fixed;
  }

  &.nav-abs {
    position: absolute;
  }

  .responsive-btn {
    display: none;

    i {
      font-size: calc(22px + (25 - 22) * ((100vw - 300px) / (1920 - 300)));
      color: $white !important;
    }
  }

  .nav {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;

    .navbar-container {
      padding: 10px 0;
    }

    ul {
      margin: 0;
      border: 0;
      line-height: 1;
      list-style-type: none;
      text-align: center;

      li {
        margin: 0;
        border: 0;
        line-height: 1;
        position: relative;
        display: inline-block;
        text-align: center;

        a {
          margin: 0;
          border: 0;
          line-height: 1;
          text-decoration: none;
          display: inline-block;
          padding: 18px;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
          font-weight: 500;
          letter-spacing: 0;
        }

        >a {
          color: white;

          &:hover {
            color: white;
          }
        }

        >ul {
          display: none;
        }

        &:hover {
          .mega-menu-container {
            display: block;
          }

          >ul {
            display: block;
          }
        }
      }

      .sub-menu {
        ul {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          z-index: 1;
        }
      }

      .sub-menu>a,
      .dropdown {
        &:before {
          position: absolute;
          font: normal normal normal 14px/1 FontAwesome;
          right: 18px;
          top: 50%;
          transform: translateY(-50%);
          content: "\f105";
        }
      }

      .dropdown {
        &:before {
          content: "\f0d7";
        }
      }

      ul {
        margin: 0;
        border: 0;
        line-height: 1;
        transition: all 0.4s ease-in-out;
        background: $white;
        padding: 15px 0;

        li {
          margin: 0;
          border: 0;
          line-height: 1;
          display: block;
          text-align: left;
          transition: all 0.4s ease-in-out;
          position: relative;

          a {
            margin: 0;
            border: 0;
            text-transform: capitalize;
            width: 100%;
            min-width: 240px;
            padding: 10px 18px;
            white-space: nowrap;
            color: #323232 !important;
            font-weight: 400;
            letter-spacing: 0;
            font-size: 13px;

            &:hover {
              color: $primary !important;
              transition: all 0.5s ease;
            }
          }

          &:hover,
          &:focus,
          &:active {
            >a {
              color: $gray15;
              transform: translateX(2%);
            }
          }
        }
      }

      .mega-menu {
        position: unset;

        .mega-menu-container {
          transition: all 0.3s ease-in;
          min-width: 1020px;
          left: unset;
          right: 0;
          padding: 20px 0;
          background: $white;
          z-index: 9;
          overflow: hidden;
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
          display: none;

          ul {
            position: relative;
            padding: 0 10px;
          }
        }
      }
    }

    .menu-head {
      margin-bottom: 10px;
      color: $primary;
      display: flex;
      padding: 10px 28px 10px 10px;
      letter-spacing: 0;
      font-weight: 600;
      border-bottom: 1px solid #eee;
      text-transform: capitalize;
    }

    .menu-arrow {
      font-size: 10px;
    }
  }
}
