$font-awesome: FontAwesome;

:root {
  --color1:#057FF4;
  --color2: green;
  --color3: #F9C301;
  --color4: #E73F2B;
  --footer: #154D75;
  --color1haft: #80645f;
  --color1light: #66362e;
  --color1dark: #1e0000;
  --warning: #f37021;
  --primary: #357fef;
  --secondary: #4e4e4e;
  --light: #13B8EA;
  --dark: #4E56F3;  
}


//colors
$white: #fff;
$black: #000;
$gray: #808080;
$gray2:#535e72;
$gray3:#464545;
$gray4:#7b7b7c;
$gray5:#949494;
$gray6:#595959;
$gray7:#9c9c9c;
$gray8:#b1b1b1;
$gray9:#8f8e94;
$gray10:#333333;
$gray11:#6f6f6f;
$gray12:#acacac;
$gray13:#e3e3e3;
$gray14:#aaaaaa;
$gray15:#777;
$gray16:#666666;
$gray17:#212121;
$gray18:#757575;
$gray19:#2d2d2d;
$primary: #357fef;
$secondary: #4e4e4e;
$light:#13B8EA;
$dark: #4E56F3;
$theme-default: #000;
$round-border: #dddddd;
// Font
$font-color:#333333;