//
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #333;
  background: #f4f5f8;
  overflow-x: hidden;
  font-size: 14px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}

.text-gray>a,
.text-gray {
  color: var(--grey);
}

// Figure
.imageLinkWrapper {
  position: relative;
  text-align: center;

  &:before {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

a {
  &:hover {
    .imageLinkWrapper {
      &:before {
        -webkit-box-shadow: 0 0 0 3px #007fc4 inset,
          0 0 100px rgba(0, 0, 0, 0.7) inset !important;
        box-shadow: 0 0 0 3px #007fc4 inset, 0 0 100px rgba(0, 0, 0, 0.7) inset !important;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
      }
    }
  }
}

.figure-haft {
  padding-top: 67%;
  position: relative;
  overflow: hidden;

  .f-select {
    position: absolute;
    top: 0;
    left: 50% !important;
    transform: translateX(-50%) !important;
    min-width: inherit !important;
    width: auto !important;
    height: auto !important;
    max-width: 90% !important;
    max-height: 90% !important;
    min-height: auto !important;
  }
}

// FONT SIZE
.font-size-1 {
  font-size: 8px;
  line-height: 1.3;
}

.font-size-2 {
  font-size: 11px;
  line-height: 1.5;
}

.font-size-3 {
  font-size: 14px;
  line-height: 1.5;
}

.font-size-4 {
  font-size: 1rem;
  line-height: 1.5;
}

.font-size-5 {
  font-size: 1.125rem;
  line-height: 1.5;
}

.font-size-6 {
  font-size: 1.3125rem;
  line-height: 1.5;
}

.font-size-7 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-size-8 {
  font-size: 2.125rem;
  line-height: 1.76;
}

.font-size-9 {
  font-size: 2.5rem;
  line-height: 1.375;
}

.font-size-10 {
  font-size: 3rem;
  line-height: 1.25;
}

.font-size-11 {
  font-size: 3.75rem;
  line-height: 1.2;
}

.font-size-12 {
  font-size: 4.375rem;
  line-height: 1.2;
}

.font-weight-semibold {
  font-weight: 600;
}

.line-height-reset {
  line-height: 1;
}

.font-size-small {
  font-size: 13px;
}

@media (max-width: 1200px) {
  .font-size-6 {
    font-size: calc(1.25625rem + 0.075vw);
  }

  .font-size-7 {
    font-size: calc(1.275rem + 0.3vw);
  }

  .font-size-8 {
    font-size: calc(1.3375rem + 1.05vw);
  }

  .font-size-9 {
    font-size: calc(1.375rem + 1.5vw);
  }

  .font-size-10 {
    font-size: calc(1.425rem + 2.1vw);
  }

  .font-size-11 {
    font-size: calc(1.5rem + 3vw);
  }
}

// shadow
.hover-shadow-1 {
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    box-shadow: 20px 20px 40px hsla(0, 0%, 68.6%, 0.16);
  }
}

.hover-shadow-2 {
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    border: 1px solid transparent !important;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
  }
}

.hover-shadow-3 {
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
  }
}

.hover-shadow-hitgray {
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 29px 62px hsla(0, 0%, 51%, 0.16);
  }
}

/**************************
 Header section
*************************/
#Header {
  z-index: 600;
  width: 100%;
  padding-top: 0;

  &.nav-lg {
    padding: 2rem 1rem;

    nav ul li a {
      font-size: 15px;
    }
  }

  &.nav-fix {
    position: fixed;
  }

  &.nav-abs {
    position: absolute;
  }

  .responsive-btn {
    display: none;

    i {
      font-size: calc(22px + (25 - 22) * ((100vw - 300px) / (1920 - 300)));
      color: $white !important;
    }
  }

  // Logo
  .header-logo {
    .logo-link {
      >div {
        height: 100%;
        margin-top: 5px !important;

        img {
          max-height: 65px;
        }
      }
    }
  }

  .nav {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;

    .logo {
      img {
        max-height: 100px;
      }

      .logo-text {
        color: $white;
        font-size: 1.3rem;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .navbar-container {
      padding: 10px 0;
    }

    ul {
      margin: 0;
      border: 0;
      padding-left: 0;
      line-height: 1;
      list-style-type: none;
      text-align: center;

      li {
        margin: 0;
        border: 0;
        line-height: 1;
        position: relative;
        display: inline-block;
        text-align: center;

        a {
          margin: 0;
          border: 0;
          color: #fff;
          line-height: 1;
          text-decoration: none;
          display: inline-block;
          padding: 18px;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
          font-weight: 500;
          letter-spacing: 0;
        }

        >a {
          color: dark;

          &:hover {
            color: yellow;
          }

          &.active {
            background-color: #0044c9;
            border-radius: 5px;

          }

          &.active:hover {
            background-color: var(--bs-warning);
            color: #fff;
          }
        }

        >ul {
          display: none;
        }

        &:hover {
          .mega-menu-container {
            display: block;
          }

          >ul {
            display: block;
          }
        }
      }

      .sub-menu {
        ul {
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          z-index: 1;
        }
      }

      .sub-menu>a,
      .dropdown {
        &:before {
          position: absolute;
          font: normal normal normal 14px/1 $font-awesome;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "\f0d7";
        }
      }

      .dropdown {
        &:before {
          content: "\f0d7";
        }
      }

      ul {
        margin: 0;
        border: 0;
        line-height: 1;
        transition: all 0.4s ease-in-out;
        background: $white;
        padding: 15px 0;

        li {
          margin: 0;
          border: 0;
          line-height: 1;
          display: block;
          text-align: left;
          transition: all 0.4s ease-in-out;
          position: relative;

          a {
            margin: 0;
            border: 0;
            text-transform: capitalize;
            width: 100%;
            min-width: 240px;
            padding: 10px 18px;
            white-space: nowrap;
            color: #323232 !important;
            font-weight: 500;
            letter-spacing: 0;
            font-size: 13px;

            &:hover {
              color: $primary !important;
              transition: all 0.5s ease;
            }
          }

          &:hover,
          &:focus,
          &:active {
            >a {
              color: $gray15;
              transform: translateX(2%);
            }
          }
        }
      }

      .mega-menu {
        position: unset;

        .mega-menu-container {
          transition: all 0.3s ease-in;
          min-width: 1020px;
          left: unset;
          right: 0;
          padding: 20px 0;
          background: $white;
          z-index: 9;
          overflow: hidden;
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
          display: none;

          ul {
            position: relative;
            padding: 0 10px;
          }
        }
      }
    }

    .menu-head {
      margin-bottom: 10px;
      color: $primary;
      display: flex;
      padding: 10px 28px 10px 10px;
      letter-spacing: 0;
      font-weight: 600;
      border-bottom: 1px solid #eee;
      text-transform: capitalize;
    }

    .menu-arrow {
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    background: #fff;
  }

  .box__content {
    box-shadow: none !important;
  }
}

@media only screen and (min-width: 991px) {

  .header-scroll-wrapper {
    position: relative;
    z-index: 99;

    &.fixed {
      position: fixed;
      animation: scrollDown 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;

      #Header {
        padding-top: 5px;
      }
    }
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

// TABS
.tab-menu-items {
  border: none;

  .tab-menu-link {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-weight: 700;
    border: none;
    font-size: 14px;
    color: #6b6e6f;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    margin-right: 45px;

    &:hover {
      border-bottom: 2px solid #00b074;
      color: #00b074;
    }

    &.active {
      border-bottom: 2px solid #00b074;
      color: #00b074;
    }
  }
}

.tab-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

// BREADCRUMBS

// .breadcrumb {
// 	li {
//     margin-right:5px;
// 		a {
// 			display: block;
// 			padding: 5px 10px;
// 			text-transform: none;
// 		}
// 	}
// }

// ASIDE TITLE
.aside-title {
  position: relative;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  line-height: 1;

  &:before {
    content: "";
    border-bottom: 3px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    transition: 0.5s;
  }

  &:hover {
    &:before {
      width: 25%;
      transition: 0.5s;
    }
  }

  a {
    text-transform: uppercase;
    color: $primary;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
  }
}

// 404 page

.section-404 {
  background-color: var(--color1);

  .btn-default {
    &:hover {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    }
  }

  .text-404 {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 50px;
    font-weight: 300;
  }

  .central-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .sub-text {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .objects img {
    z-index: 90;
    pointer-events: none;
  }

  .object_rocket {
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    left: 0;
    pointer-events: none;
    width: 150px;
    animation: rocket-movement 20s linear infinite both running;
  }

  .object_earth {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
    width: 100px;
  }

  .object_moon {
    position: absolute;
    top: 12%;
    left: 25%;
    width: 80px;
  }

  .object_astronaut {
    width: 170px;
    animation: rotate-astronaut 200s infinite linear both alternate;
  }

  .box_astronaut {
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 16%;
    will-change: transform;
    animation: move-astronaut 5s infinite linear both alternate;
  }

  .image-404 {
    position: relative;
    z-index: 100;
    pointer-events: none;
  }

  .text-inner {
    font-size: calc(100px + (250 - 100) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 700;
    margin-top: -62px;
    line-height: 1;
    color: #fff;
  }

  .glowing_stars .star {
    position: absolute;
    border-radius: 100%;
    background-color: $white;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
  }
}
