@media (min-width: 992px) {
  // HEADER
  header {
    nav {
      ul {
        .dropdown {
          &:before {
            right: 0;
          }
        }

        ul,
        .mega-menu-container {
          position: absolute;
        }

        .sub-menu {
          ul {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            z-index: 1;
            top: -5px;
            left: 100%;
            display: none;
          }
        }
      }
    }
  }
}
